a {
    color: black;
}

a:hover {
    color: #5E1020;
}

body {
    margin: auto;
    max-width: 72em;
    padding: 13px;
}

#logo {
    width: 250px;
    display: inline;
}

#navbar {
    font-family: 'Claremont-Light';
}

#contact_info {
    font-family: 'Claremont-Light';
    color: #5E1020;
    text-align: center;
}

#facebook_icon {
    color: #5E1020;
    float: right;
}

#facebook_icon:hover {
    -webkit-animation: jello-horizontal 0.7s both;
	        animation: jello-horizontal 0.7s both;
}

#footer {
    height: 60px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    color: white;
    background-color: #5E1020;
}

.divider {
    border: 1px solid #b5b5b5;
    height: auto;
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

.active {
    color: #5E1020;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Inter-Regular.woff") format("woff2"),
        url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Claremont-Light';
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Claremont-Light.woff") format("woff"),
}

// mixin
@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
    @if $dir==null {
        @if $type==fade {
            $dir: 'top';
        }

        @else if $type==slide {
            $dir: 'center';
        }
    }

    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: $weight;
        background: $color;

        @if $type==fade {
            transition: .3s;
            opacity: 0;
            visibility: hidden;

            @if $dir==bottom {
                bottom: $weight * -4;
            }

            @else {
                bottom: $weight;
            }
        }

        @else if $type==slide {
            bottom: $weight * -2;
            transform: scale(0, 1);
            transition: transform .3s;

            @if $dir==left-right or $dir==right-in-left {
                transform-origin: left top;
            }

            @else if $dir==right-left or $dir==left-in-right {
                transform-origin: right top;
            }

            @else {
                transform-origin: center top;
            }
        }
    }

    &:hover::after {
        @if $type==fade {
            bottom: $weight * -2;
            opacity: 1;
            visibility: visible;
        }

        @else if $type==slide {
            @if $dir==left-in-right {
                transform-origin: left top;
            }

            @else if $dir==right-in-left {
                transform-origin: right top;
            }

            transform: scale(1, 1);
        }
    }
}

// usage
.underline a {
    @include hover-underline('fade', 'bottom');
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-23 23:56:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }